{{#user}}
<div class="category">
  <a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
    aria-expanded="true" aria-controls="collapseOne">
    <i class="material-icons md-30 online">person_outline</i>
    <div class="data">
      <h5>My Account</h5>
      <p>Update your profile details</p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
  <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionSettings">
    <form action="/my-account" method="post" id="accountForm" enctype="multipart/form-data">
      <div class="content">
        <div class="upload">
          <div class="data">
            <img class="avatar-xl" src="{{image}}" alt="image" />
            <label>
              <input type="file" name="image" />
              <span class="btn button">Upload Profile</span>
            </label>
          </div>
          <p>For best results, use an image at least 256px by 256px in either
            .jpg or .png format!</p>
        </div>
        <div class="parent">
          <div class="field">
            <label for="firstName">First name <span>*</span></label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName"
              value="{{firstName}}" required />
          </div>
          <div class="field">
            <label for="lastName">Last name <span>*</span></label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName"
              value="{{lastName}}" required />
          </div>
        </div>
        <div class="field">
          <label for="email">Email <span>*</span></label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email address" value="{{email}}"
            readonly />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter a new password"
            value="{{password}}" readonly />
        </div>
        <div class="field">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Enter your location" name="location"
            value="{{location}}" required />
        </div>
        <button class="btn btn-link w-100">Delete Account</button>
        <button type="submit" class="btn button w-100">Apply</button>
    </form>
  </div>
  </form>
</div>
{{/user}}
</div>