<div class="list-group" id="contacts" role="tablist">
    {{#contacts}}
    <a href="#" class="filterMembers all online contact" data-toggle="list">
        <input value="{{id}}" id="userId" hidden>
        <input value="{{name}}" id="userName" hidden>
        <input value="{{image}}" id="userImage" hidden>
        <input value="{{location}}" id="userLocation" hidden>
        <img class="avatar-md" src="{{image}}" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
        <div class="status">
            <i class="material-icons online">fiber_manual_record</i>
        </div>
        <div class="data">
            <h5>{{name}}</h5>
            <p>{{location}}</p>
        </div>
        <div class="person-add">
            <i class="material-icons">person</i>
        </div>
    </a>
    {{/contacts}}
</div>