{{#discussions}}
<div class="list-group" role="tablist" style="cursor: pointer;">
    <a class="filterDiscussions all single active chatRoomId" id="chatRoomId" data-toggle="list" role="tab"
        aria-valuetext="{{roomId}},{{friendId}},{{socketId}},{{mySocket}},{{myId}}">
        {{#senderDetails}}
        <img class="avatar-md" src="{{image}}" data-toggle="tooltip" data-placement="top" alt="avatar">
        {{/senderDetails}}
        <div class="status">
            <i class="material-icons offline">fiber_manual_record</i>
        </div>
        <div class="new bg-green">
            <span>{{messageCount}}</span>
        </div>
        <div class="data">
            {{#senderDetails}}
            <h5>{{firstName}}</h5>
            {{/senderDetails}}
            <span>{{day}}</span>
            {{#lastMessage}}
            <p>{{content}}</p>
            {{/lastMessage}}
        </div>
    </a>
</div>
{{/discussions}}

{{!-- '{{roomId}}','{{friendId}}','{{json messages}}','{{json senderDetails}}',{{messageCount}} --}}