{{#discussions}}
<div class="list-group changeChatView" role="tablist" style="cursor: pointer;"
    aria-valuetext="{{json messages}},{{myId}})">
    <a class="filterDiscussions all single active chatRoomId" id="chatRoomId" data-toggle="list" role="tab"
        aria-valuetext="{{roomId}},{{friendId}},{{myId}},{{json allMessages}},{{socket}}">
        {{#senderDetails}}
        <img class="avatar-md" src="{{image}}" data-toggle="tooltip" data-placement="top" alt="avatar">
        {{/senderDetails}}
        {{!-- <div class="status">
            <i class="material-icons offline">fiber_manual_record</i>
        </div>
        <div class="new bg-green">
            <span>{{messageCount}}</span>
        </div> --}}
        <div class="data">
            {{#senderDetails}}
            <h5>{{firstName}} {{lastName}}</h5>
            {{/senderDetails}}
            <span>{{day}}</span>
            <p class="discussionMessage">{{lastMessage}}</p>
        </div>
    </a>
</div>
{{/discussions}}