<div class="list-group" id="alerts" role="tablist">
    {{#notifications}}
    <a href="#" class="filterNotifications all latest notification" data-toggle="list">
        {{#sender}}
        <img class="avatar-md" src="{{senderImage}}" data-toggle="tooltip" data-placement="top" title="Janette"
            alt="avatar">
        {{/sender}}
        <div class="status">
            <i class="material-icons online">fiber_manual_record</i>
        </div>
        <div class="data">
            <p>{{message}}</p>
            <span>{{date}}</span>
            <br>
            {{#if_true accept}}
            <div>
                You are now friends
            </div>
            {{else}}
            <div id="requestButtons" class="btn-group" style="gap: 8%;margin: 2% auto">
                <button type="button" id="accept" class="btn w-100"
                    style="background: #2196F3;color:#fff;">Accept</button>
                <input id="rId" value="{{receiver}}" hidden>
                <button type="button" id="reject" class="btn w-100"
                    style="background: #2196F3;color:#fff;">Reject</button>
            </div>
            {{/if_true}}
        </div>
    </a>
    {{/notifications}}
</div>