<!-- Start of Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <!-- Start of Contacts -->
                <div class="tab-pane fade" id="members">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="people" placeholder="Search for people...">
                            <button type="button" class="btn btn-link loop"><i
                                    class="material-icons">search</i></button>
                        </form>
                        <button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i
                                class="material-icons">person_add</i></button>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterMembersBtn active show" data-toggle="list"
                            data-filter="all">All</button>
                        <button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Online</button>
                        <button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Offline</button>
                    </div>
                    <div class="contacts">
                        <h1>Contacts</h1>
                        <div class="list-group" id="contacts" role="tablist">
                            <a href="#" class="filterMembers all online contact" data-toggle="list">
                                <img class="avatar-md" src="/img/avatars/avatar-female-1.jpg" data-toggle="tooltip"
                                    data-placement="top" title="Janette" alt="avatar">
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Janette Dalton</h5>
                                    <p>Sofia, Bulgaria</p>
                                </div>
                                <div class="person-add">
                                    <i class="material-icons">person</i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Contacts -->
                <!-- Start of Discussions -->
                <div id="discussions" class="tab-pane fade active show">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="conversations"
                                placeholder="Search for conversations...">
                            <button type="button" class="btn btn-link loop"><i
                                    class="material-icons">search</i></button>
                        </form>
                        <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i
                                class="material-icons">create</i></button>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterDiscussionsBtn active show" data-toggle="list"
                            data-filter="all">All</button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
                    </div>
                    <div class="discussions">
                        <h1>Discussions</h1>
                        {{#myRooms}}
                        <div class="list-group" id="chats-{{roomId}}" role="tablist"
                            onclick="changeChatView({{json messages}},{{myID}});">
                            <a href="#list-chat-{{roomId}}" class="filterDiscussions all unread single active"
                                id="list-chat-list-{{id}}" data-toggle="list" role="tab"
                                onclick="changeChatView({{json messages}},{{myID}});">
                                <img class="avatar-md" src="{{image}}" data-toggle="tooltip" data-placement="top"
                                    title="" alt="avatar" data-original-title="Janette">
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="new bg-yellow">
                                    <span>{{messageCount}}</span>
                                </div>
                                <div class="data">
                                    <h5>{{name}}</h5>
                                    <span>{{day}}</span>
                                    <p>{{message}}</p>
                                </div>
                            </a>
                        </div>
                        {{/myRooms}}

                    </div>
                </div>
                <!-- End of Discussions -->
                <!-- Start of Notifications -->
                <div id="notifications" class="tab-pane fade">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="notice" placeholder="Filter notifications...">
                            <button type="button" class="btn btn-link loop"><i
                                    class="material-icons filter-list">filter_list</i></button>
                        </form>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterNotificationsBtn active show" data-toggle="list"
                            data-filter="all">All</button>
                        <button class="btn filterNotificationsBtn" data-toggle="list"
                            data-filter="latest">Latest</button>
                        <button class="btn filterNotificationsBtn" data-toggle="list"
                            data-filter="oldest">Oldest</button>
                    </div>
                    <div class="notifications">
                        <h1>Notifications</h1>
                        <div class="list-group" id="alerts" role="tablist">
                            <a href="#" class="filterNotifications all latest notification" data-toggle="list">
                                <img class="avatar-md" src="/img/avatars/avatar-female-1.jpg" data-toggle="tooltip"
                                    data-placement="top" title="Janette" alt="avatar">
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <p>Janette has accepted your friend request on Swipe.</p>
                                    <span>Oct 17, 2018</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Notifications -->
                <!-- Start of Settings -->
                <div class="tab-pane fade" id="settings">
                    <div class="settings">
                        <div class="profile">
                            {{#user}}
                            <img class="avatar-xl" src="{{image}}" alt="avatar">
                            <h1><a href="#">{{firstName}} {{lastName}}</a></h1>
                            <span>{{location}}</span>
                            {{/user}}
                            <div class="stats">
                                <div class="item">
                                    <h2>122</h2>
                                    <h3>Fellas</h3>
                                </div>
                                <div class="item">
                                    <h2>305</h2>
                                    <h3>Chats</h3>
                                </div>
                                <div class="item">
                                    <h2>1538</h2>
                                    <h3>Posts</h3>
                                </div>
                            </div>
                        </div>
                        <div class="categories" id="accordionSettings">
                            <h1>Settings</h1>
                            <!-- Start of My Account -->
                            {{> myAccount}}
                            <!-- End of My Account -->
                            <!-- Start of Chat History -->
                            {{> chatHistory}}
                            <!-- End of Chat History -->
                            <!-- Start of Notifications Settings -->
                            {{> notificationSettings}}
                            <!-- End of Notifications Settings -->
                            <!-- Start of Connections -->
                            {{> connections}}
                            <!-- End of Connections -->
                            <!-- Start of Appearance Settings -->
                            {{> appearanceSettings}}
                            <!-- End of Appearance Settings -->
                            <!-- Start of Language -->
                            {{> languageSettings}}
                            <!-- End of Language -->
                            <!-- Start of Privacy & Safety -->
                            {{> privacyAndSecurity}}
                            <!-- End of Privacy & Safety -->
                            <!-- Start of Logout -->
                            {{> logout}}
                            <!-- End of Logout -->
                        </div>
                    </div>
                </div>
                <!-- End of Settings -->
            </div>
        </div>


    </div>
</div>
<!-- End of Sidebar -->